@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --bottom-header-margin: 2rem;
  --bar-width: 3rem;
  --bar-height: 0.5rem;
  --hamburger-gap: 0.375rem;
  --bottom-p-margin: 1rem;
  --title-font-language: "Open Sans", sans-serif;
  --p-font-language: "Public Sans", sans-serif;
  --h1-color: #986728;
}

/* header */
#logo {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 20rem;
}

#logo img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  box-shadow: 0px 45px 50.9px -10px rgba(0, 0, 0, 0.04);
  margin: 0 1rem;
  position: relative;
  align-items: center;
  width: 90%;
  max-width: 72rem;
  margin: auto;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav ul {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav li {
  list-style: none;
  transition: all ease 0.3s;
  height: fit-content;
}

nav li:hover {
  box-shadow: inset 0 -1px 0 0 rgb(32, 32, 32);
}

nav a {
  color: rgb(130, 104, 54);
  text-decoration: none;
  font-family: var(--title-font-language);
  font-weight: 400;
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
}
.hero-img img{
  width: 100%;
  max-width: 70rem;
  height: 17rem;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.hero-quick-btn {
  display: none;
}

/* burger menu */
.burger-menu {
  display: none;
}

.burger-menu ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.burger-label {
  width: fit-content;
  align-content: center;
  z-index: 6;
  height: fit-content;
  display: none;
}

.burger-icon {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px;
  background-color: black;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 6;
  cursor: pointer;
}

#menu-toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  cursor: pointer;
  background-color: #202020;
}

#menu-toggle:checked ~ .burger-menu {
  display: block;
  position: absolute;
  right: -1rem;
  top: 0;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease;
}

#menu-toggle:checked + .burger-label .burger-icon:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

#menu-toggle:checked + .burger-label .burger-icon:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .burger-label .burger-icon:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* main */

main {
  max-width: 72rem;
  width: 90%;
  margin: 2rem auto;
  background: rgb(255, 243, 229);
  background: linear-gradient(
    90deg,
    rgb(253, 242, 211) 0%,
    rgb(242, 241, 250) 100%
  );

}

article {
  margin: auto;
  max-width: 756px;
  padding: 10px;
}

article #h1-span {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

article h1 {
  color: var(--h1-color);
  font-family: var(--title-font-language);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.88px;
  margin-bottom: 2rem;
}

article h2,
h3,
h4,
h5 {
  font-family: var(--title-font-language);
}

#middle_tag {
  text-align: center;
}

article hr {
  margin-bottom: 2rem;
}

article p {
  color: #202020;
  font-family: var(--title-font-language);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.96px;
  margin-bottom: 1rem;
}

article img {
  max-width: 100%;
  margin-bottom: 2rem;
}

#sticker {
  position: absolute;
  left: 1px;
}

/* footer */
footer {
  background-color: #484847;
  min-height: 20rem;
  max-width: 72rem;
  width: 90%;
  margin: auto;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: auto;
  padding: 4rem 1rem 1rem 1rem;
  justify-items: start;
  margin: 0 1rem;
  gap: 1rem;
}

.quick_links,
.location,
.contact {
  height: 100%;
}

footer h3 {
  color: #fff;
  font-family: var(--title-font-language);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  margin-bottom: 2rem;
}

footer p,
a {
  color: #c7c7c7;
  font-family: var(--p-font-language);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
}

footer a {
  text-decoration: none;
  font-family: var(--title-font-language);
  font-weight: 400;
  transition: all ease 0.3s;
}

footer p,
li {
  margin-bottom: 0.625rem;
}

footer li {
  list-style: none;
}

footer a:hover {
  color: #ffffff;
}

footer hr {
  width: 80%;
  margin: 1rem auto;
}

footer .fa-brands {
  color: #c4c4c4;
  margin-right: 1rem;
  cursor: pointer;
  transition: all ease 0.2s;
}

footer .fa-brands:hover {
  color: #ffffff;
}

footer .icons {
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .hero-quick-btn {
    display: block;
    position: absolute;
    bottom: 1rem;
    display: flex;
    gap: 1rem; 
    flex-wrap: wrap;
  }

  .hero-quick-btn a {
    background-color: #5f5f5fa6;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 400;
    border: solid 1px #f5f5f5a4;
    padding: 1rem;
  }

  .hero-quick-btn a:hover {
    background-color: #f5f5f5a4;
    color: #202020;
  }

  .burger-label {
    display: block;
  }

  #menu-toggle:checked + .burger-label .burger-icon:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  #menu-toggle:checked + .burger-label .burger-icon:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked + .burger-label .burger-icon:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}
